/*Uses the :host CSS Selector to narrow the specificity of the selector and set default background*/
:host .stock-card {
  background: #333333;
}

/*Increase class defines the background as green*/
:host .stock-card.increase {
  background: #558B2F;
  color: #fff;
}

/*Decrease class defines the background as red*/
:host .stock-card.decrease {
  background: #C62828;
  color: #fff;
}
