<div class="demo-grid-1 mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <!-- Bind the submit event to call the add() method -->
    <form style="margin-bottom: 5px;" (submit)="add()">
      <!-- Two-way binding for the symbol input box -->
      <input name="stock" [(ngModel)]="stock" class="mdl-textfield__input" type="text" placeholder="Add Stock" />
    </form>
    <table class="mdl-data-table mdl-data-table--selectable mdl-shadow--2dp" style="width: 100%;">
      <tbody>
      <!-- Loops over the symbol list with NgFor -->
      <tr *ngFor="let symbol of symbols">
        <!-- Displays the symbol -->
        <td class="mdl-data-table__cell--non-numeric">{{symbol}}</td>
        <td style="padding-top: 6px;">
          <!-- Binds the click event on the button to call the remove method -->
          <button class="mdl-button" (click)="remove(symbol)">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
